{% load static %}
<html>
    <head>
        <title>
                Welcome to Library
        </title>
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> -->
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
        
    </head>


    <body>
        <h2> Library Application </h2><hr>

        <form action="{% url 'home_page' %}" method = "post">
            {% csrf_token %}

            {% if single_book%}
            <label class = "required"> Book ID : </label>
                <input type="text" name="book_id" value="{{single_book.id}}" readonly><br><br>
            {% endif %}
            <label class = "required"> Name: </label>
               <input type = "text" name = "book_name" value="{{single_book.name}}" placeholder="Enter book name" required><br><br>
            <label class = "required"> Quantity: </label>
                <input type = "number" name = "book_qty"value="{{single_book.qty}}" required><br><br> 
            <label class = "required"> Price: </label>                       
                <input type = "number" name = "book_prc" value="{{single_book.price}}" required><br><br>
            <label class = "required"> Author: </label>
                <input type = "text" name = "book_author" value="{{single_book.author}}" required><br><br>
            <label class = "required"> Is_Published: </label>

            {% if single_book %}
                {% if single_book.is_published == True %}
                    Is_Published : Yes <input type = "radio" name = "book_is_published" value="Yes" checked> 
                    No <input type = "radio" name = "book_is_published" value=" No"><br><br>
                {% else %}
                    Is_Published : Yes <input type = "radio" name = "book_is_published" value="Yes"> 
                    No <input type = "radio" name = "book_is_published" value=" No" checked><br><br>
                {% endif %}
            {% else %}
                Is_Published : Yes <input type = "radio" name = "book_is_published" value="Yes"> 
                No <input type = "radio" name = "book_is_published" value=" No"><br><br>
            {% endif %}
            <input type = "button" class="btn btn-info" value= "Submit"><br><br>

            <!-- {{ person_name }} -->
            <!-- {% for book in all_books %}
            {{book.id}} -- {{book.name}} -- {{book.price}} -- {{book.author}}<br>
            {% endfor %} -->

                    <!-- NEW ONE FOR DROPDOWN CONCEPT -->


        </form>
    <!-- <a href="/books/">Show Books</a> -->
    <a href="{% url 'all_active_books' %}" class = "btn btn-success">Show Active Books</a>
    <a href="{% url 'all_inactive_books' %}" class = "btn btn-danger">Show In-Active Books</a>
    <a href="{% url 'create_csv' %}" class = "btn btn-info">Create CSV</a>
    <a href="{% url 'export_xls' %}" class = "btn btn-primary"> Export XLS</a><br><br>
    <a href="{% url 'raw_query_csv' %}" class = "btn btn-info"> Raw Query CSV</a><br><br>

    <form action="{% url 'upload_csv' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name = "csv_file">
        <input type="submit" class="btn btn-secondary" value="Upload CSV">

    </form>





    </body>
</html>